<a href="https://colab.research.google.com/github/SurajGusain0007/Panda_Library/blob/main/Creating_Objects(Pandas).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Creating Objects

**Pandas Dataframe is two dimensional size mutable ,potentially heterogenous tabular data structure with lablled axes rows and columna i.e data is aligned in a tabular fashion in rows and columns**

In [6]:
#Create a dataframe using list
import pandas as pd
list=['suraj','Neeraj','Ritu','Nisha','Vipin']
df=pd.DataFrame(list)
df

        0
0   suraj
1  Neeraj
2    Ritu
3   Nisha
4   Vipin

In [7]:
#Create a dataframe using dictionary
df=pd.DataFrame({'Name':['suraj','Neeraj','Ritu','Nisha','Vipin'],
                 'Rollno':[1,2,3,4,5,],
                 'City':['Pnp','Kuk','Pnp','Nanital','Mat']})
df

     Name  Rollno     City
0   suraj       1      Pnp
1  Neeraj       2      Kuk
2    Ritu       3      Pnp
3   Nisha       4  Nanital
4   Vipin       5      Mat

In [8]:
#Creating an Empty Dataframe
df=pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [14]:
#Creating dataframe from list of list
lis=[['suraj','pnp'],['Neeraj','kuk'],['Ritu','pnp'],['Nisha','Vipin']]
#lis1=['Pnp','Kuk','Pnp','Nanital','Mat']
df=pd.DataFrame(lis,columns=['Name','city'],index=[1,2,3,4])
df

     Name   city
1   suraj    pnp
2  Neeraj    kuk
3    Ritu    pnp
4   Nisha  Vipin

In [15]:
#Creating pandas dataframe list of dicts
data=[{'a':1,'b':2,'c':3},
      {'a':10,'b':20,'c':30}]
df=pd.DataFrame(data,index=['Rank1','Rank2'])
df

        a   b   c
Rank1   1   2   3
Rank2  10  20  30

In [20]:
#increment the index so that index starts with 1(starts 0 by default)
data_rankings = {'test': ['India', 'South Africa', 'England', 'New Zealand', 'Australia'], 

              'odi': ['England', 'India', 'New Zealand', 'South Africa', 'Pakistan'], 

               't20': ['Pakistan', 'India', 'Australia', 'England', 'New Zealand']}
df=pd.DataFrame(data_rankings)   
df.index+=1 
df

           test           odi          t20
1         India       England     Pakistan
2  South Africa         India        India
3       England   New Zealand    Australia
4   New Zealand  South Africa      England
5     Australia      Pakistan  New Zealand

**Pandas Series is a one-dimensional labelled array capabale of holding any datatype integers ,float strings objects.The ases labels are collectively called index.Pandas series is nothing but column in a excel sheet**

In [23]:
lis=[1,2,3,4,5]
df=pd.Series(lis)
df

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [26]:
#Creating Series
import numpy as np
df=np.array(['a','b','c','d','e'])
df1=pd.Series(df)
df1

0    a
1    b
2    c
3    d
4    e
dtype: object

In [28]:
#Creating Series using index
import numpy as np
df=np.array(['a','b','c','d','e'])
df1=pd.Series(df,index=[11,12,13,14,15])
df1

11    a
12    b
13    c
14    d
15    e
dtype: object