<a href="https://colab.research.google.com/github/SurajGusain0007/Panda_Library/blob/main/Panda_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1) Define the Pandas/Python pandas?
Pandas is defined as an open-source library that provides high-performance data manipulation in Python. The name of Pandas is derived from the word Panel Data, which means an Econometrics from Multidimensional data. It can be used for data analysis in Python and developed by Wes McKinney in 2008. It can perform five significant steps that are required for processing and analysis of data irrespective of the origin of the data, i.e., load, manipulate, prepare, model, and analyze.Pandas is mainly used for data analysis and associated manipulation of tabular data in Dataframes. Pandas allows importing data from various file formats such as comma-separated values, JSON, Parquet, SQL database tables or queries, and Microsoft Excel.**

#Importing libraries

In [41]:
import pandas as pd

#1.read_csv is an important pandas function to read csv files and do operations on it.

In [55]:
df=pd.read_csv("cardataset.csv")
df

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
5,Acura,3.5 RL w/Navigation 4dr,Sedan,Asia,Front,"$46,100","$41,100",3.5,6.0,225.0,18.0,24.0,3893.0,115.0,197.0
6,Acura,NSX coupe 2dr manual S,Sports,Asia,Rear,"$89,765","$79,978",3.2,6.0,290.0,17.0,24.0,3153.0,100.0,174.0
7,Audi,A4 1.8T 4dr,Sedan,Europe,Front,"$25,940","$23,508",1.8,4.0,170.0,22.0,31.0,3252.0,104.0,179.0
8,Audi,A41.8T convertible 2dr,Sedan,Europe,Front,"$35,940","$32,506",1.8,4.0,170.0,23.0,30.0,3638.0,105.0,180.0
9,Audi,A4 3.0 4dr,Sedan,Europe,Front,"$31,840","$28,846",3.0,6.0,220.0,20.0,28.0,3462.0,104.0,179.0
10,Audi,A4 3.0 Quattro 4dr manual,Sedan,Europe,All,"$33,430","$30,366",3.0,6.0,220.0,17.0,26.0,3583.0,104.0,179.0
11,Audi,A4 3.0 Quattro 4dr auto,Sedan,Europe,All,"$34,480","$31,388",3.0,6.0,220.0,18.0,25.0,3627.0,104.0,179.0
12,Audi,A6 3.0 4dr,Sedan,Europe,Front,"$36,640","$33,129",3.0,6.0,220.0,20.0,27.0,3561.0,109.0,192.0
13,Audi,A6 3.0 Quattro 4dr,Sedan,Europe,All,"$39,640","$35,992",3.0,6.0,220.0,18.0,25.0,3880.0,109.0,192.0
14,Audi,A4 3.0 convertible 2dr,Sedan,Europe,Front,"$42,490","$38,325",3.0,6.0,220.0,20.0,27.0,3814.0,105.0,180.0
15,Audi,A4 3.0 Quattro convertible 2dr,Sedan,Europe,All,"$44,240","$40,075",3.0,6.0,220.0,18.0,25.0,4013.0,105.0,180.0
16,Audi,A6 2.7 Turbo Quattro 4dr,Sedan,Europe,All,"$42,840","$38,840",2.7,6.0,250.0,18.0,25.0,3836.0,109.0,192.0
17,Audi,A6 4.2 Quattro 4dr,Sedan,Europe,All,"$49,690","$44,936",4.2,8.0,300.0,17.0,24.0,4024.0,109.0,193.0
18,Audi,A8 L Quattro 4dr,Sedan,Europe,All,"$69,190","$64,740",4.2,8.0,330.0,17.0,24.0,4399.0,121.0,204.0
19,Audi,S4 Quattro 4dr,Sedan,Europe,All,"$48,040","$43,556",4.2,8.0,340.0,14.0,20.0,3825.0,104.0,179.0
20,Audi,RS 6 4dr,Sports,Europe,Front,"$84,600","$76,417",4.2,8.0,450.0,15.0,22.0,4024.0,109.0,191.0
21,Audi,TT 1.8 convertible 2dr (coupe),Sports,Europe,Front,"$35,940","$32,512",1.8,4.0,180.0,20.0,28.0,3131.0,95.0,159.0
22,Audi,TT 1.8 Quattro 2dr (convertible),Sports,Europe,All,"$37,390","$33,891",1.8,4.0,225.0,20.0,28.0,2921.0,96.0,159.0
23,Audi,TT 3.2 coupe 2dr (convertible),Sports,Europe,All,"$40,590","$36,739",3.2,6.0,250.0,21.0,29.0,3351.0,96.0,159.0
24,Audi,A6 3.0 Avant Quattro,Wagon,Europe,All,"$40,840","$37,060",3.0,6.0,220.0,18.0,25.0,4035.0,109.0,192.0
25,Audi,S4 Avant Quattro,Wagon,Europe,All,"$49,090","$44,446",4.2,8.0,340.0,15.0,21.0,3936.0,104.0,179.0
26,BMW,X3 3.0i,SUV,Europe,All,"$37,000","$33,873",3.0,6.0,225.0,16.0,23.0,4023.0,110.0,180.0
27,BMW,X5 4.4i,SUV,Europe,All,"$52,195","$47,720",4.4,8.0,325.0,16.0,22.0,4824.0,111.0,184.0
28,BMW,325i 4dr,Sedan,Europe,Rear,"$28,495","$26,155",2.5,6.0,184.0,20.0,29.0,3219.0,107.0,176.0
29,BMW,325Ci 2dr,Sedan,Europe,Rear,"$30,795","$28,245",2.5,6.0,184.0,20.0,29.0,3197.0,107.0,177.0
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,BMW,325Ci convertible 2dr,Sedan,Europe,Rear,"$37,995","$34,800",2.5,6.0,184.0,19.0,27.0,3560.0,107.0,177.0
32,BMW,325xi 4dr,Sedan,Europe,All,"$30,245","$27,745",2.5,6.0,184.0,19.0,27.0,3461.0,107.0,176.0
33,BMW,330i 4dr,Sedan,Europe,Rear,"$35,495","$32,525",3.0,6.0,225.0,20.0,30.0,3285.0,107.0,176.0
34,BMW,330Ci 2dr,Sedan,Europe,Rear,"$36,995","$33,890",3.0,6.0,225.0,20.0,30.0,3285.0,107.0,176.0
35,BMW,330xi 4dr,Sedan,Europe,All,"$37,245","$34,115",3.0,6.0,225.0,20.0,29.0,3483.0,107.0,176.0
36,BMW,525i 4dr,Sedan,Europe,Rear,"$39,995","$36,620",2.5,6.0,184.0,19.0,28.0,3428.0,114.0,191.0
37,BMW,330Ci convertible 2dr,Sedan,Europe,Rear,"$44,295","$40,530",3.0,6.0,225.0,19.0,28.0,3616.0,107.0,177.0
38,BMW,530i 4dr,Sedan,Europe,Rear,"$44,995","$41,170",3.0,6.0,225.0,20.0,30.0,3472.0,114.0,191.0
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,BMW,545iA 4dr,Sedan,Europe,Rear,"$54,995","$50,270",4.4,8.0,325.0,18.0,26.0,3814.0,114.0,191.0
41,BMW,745i 4dr,Sedan,Europe,Rear,"$69,195","$63,190",4.4,8.0,325.0,18.0,26.0,4376.0,118.0,198.0
42,BMW,745Li 4dr,Sedan,Europe,Rear,"$73,195","$66,830",4.4,8.0,325.0,18.0,26.0,4464.0,123.0,204.0
43,BMW,M3 coupe 2dr,Sports,Europe,Rear,"$48,195","$44,170",3.2,6.0,333.0,16.0,24.0,3415.0,108.0,177.0
44,BMW,M3 convertible 2dr,Sports,Europe,Rear,"$56,595","$51,815",3.2,6.0,333.0,16.0,23.0,3781.0,108.0,177.0
45,BMW,Z4 convertible 2.5i 2dr,Sports,Europe,Rear,"$33,895","$31,065",2.5,6.0,184.0,20.0,28.0,2932.0,98.0,161.0
46,BMW,Z4 convertible 3.0i 2dr,Sports,Europe,Rear,"$41,045","$37,575",3.0,6.0,225.0,21.0,29.0,2998.0,98.0,161.0
47,BMW,325xi Sport,Wagon,Europe,All,"$32,845","$30,110",2.5,6.0,184.0,19.0,26.0,3594.0,107.0,176.0
48,Buick,Rainier,SUV,USA,All,"$37,895","$34,357",4.2,6.0,275.0,15.0,21.0,4600.0,113.0,193.0
49,Buick,Rendezvous CX,SUV,USA,Front,"$26,545","$24,085",3.4,6.0,185.0,19.0,26.0,4024.0,112.0,187.0
50,Buick,Century Custom 4dr,Sedan,USA,Front,"$22,180","$20,351",3.1,6.0,175.0,20.0,30.0,3353.0,109.0,195.0
51,Buick,LeSabre Custom 4dr,Sedan,USA,Front,"$26,470","$24,282",3.8,6.0,205.0,20.0,29.0,3567.0,112.0,200.0
52,Buick,Regal LS 4dr,Sedan,USA,Front,"$24,895","$22,835",3.8,6.0,200.0,20.0,30.0,3461.0,109.0,196.0
53,Buick,Regal GS 4dr,Sedan,USA,Front,"$28,345","$26,047",3.8,6.0,240.0,18.0,28.0,3536.0,109.0,196.0
54,Buick,LeSabre Limited 4dr,Sedan,USA,Front,"$32,245","$29,566",3.8,6.0,205.0,20.0,29.0,3591.0,112.0,200.0
55,Buick,Park Avenue 4dr,Sedan,USA,Front,"$35,545","$32,244",3.8,6.0,205.0,20.0,29.0,3778.0,114.0,207.0
56,Buick,Park Avenue Ultra 4dr,Sedan,USA,Front,"$40,720","$36,927",3.8,6.0,240.0,18.0,28.0,3909.0,114.0,207.0
57,Cadillac,Escalade,SUV,USA,Front,"$52,795","$48,377",5.3,8.0,295.0,14.0,18.0,5367.0,116.0,199.0
58,Cadillac,SRX V8,SUV,USA,Front,"$46,995","$43,523",4.6,8.0,320.0,16.0,21.0,4302.0,116.0,195.0
59,Cadillac,CTS VVT 4dr,Sedan,USA,Rear,"$30,835","$28,575",3.6,6.0,255.0,18.0,25.0,3694.0,113.0,190.0
60,Cadillac,Deville 4dr,Sedan,USA,Front,"$45,445","$41,650",4.6,8.0,275.0,18.0,26.0,3984.0,115.0,207.0
61,Cadillac,Deville DTS 4dr,Sedan,USA,Front,"$50,595","$46,362",4.6,8.0,300.0,18.0,26.0,4044.0,115.0,207.0
62,Cadillac,Seville SLS 4dr,Sedan,USA,Front,"$47,955","$43,841",4.6,8.0,275.0,18.0,26.0,3992.0,112.0,201.0
63,Cadillac,XLR convertible 2dr,Sports,USA,Rear,"$76,200","$70,546",4.6,8.0,320.0,17.0,25.0,3647.0,106.0,178.0
64,Cadillac,Escalade EXT,Truck,USA,All,"$52,975","$48,541",6.0,8.0,345.0,13.0,17.0,5879.0,130.0,221.0
65,Chevrolet,Suburban 1500 LT,SUV,USA,Front,"$42,735","$37,422",5.3,8.0,295.0,14.0,18.0,4947.0,130.0,219.0
66,Chevrolet,Tahoe LT,SUV,USA,All,"$41,465","$36,287",5.3,8.0,295.0,14.0,18.0,5050.0,116.0,197.0
67,Chevrolet,TrailBlazer LT,SUV,USA,Front,"$30,295","$27,479",4.2,6.0,275.0,16.0,21.0,4425.0,113.0,192.0
68,Chevrolet,Tracker,SUV,USA,Front,"$20,255","$19,108",2.5,6.0,165.0,19.0,22.0,2866.0,98.0,163.0
69,Chevrolet,Aveo 4dr,Sedan,USA,Front,"$11,690","$10,965",1.6,4.0,103.0,28.0,34.0,2370.0,98.0,167.0
70,Chevrolet,Aveo LS 4dr hatch,Sedan,USA,Front,"$12,585","$11,802",1.6,4.0,103.0,28.0,34.0,2348.0,98.0,153.0
71,Chevrolet,Cavalier 2dr,Sedan,USA,Front,"$14,610","$13,697",2.2,4.0,140.0,26.0,37.0,2617.0,104.0,183.0
72,Chevrolet,Cavalier 4dr,Sedan,USA,Front,"$14,810","$13,884",2.2,4.0,140.0,26.0,37.0,2676.0,104.0,183.0
73,Chevrolet,Cavalier LS 2dr,Sedan,USA,Front,"$16,385","$15,357",2.2,4.0,140.0,26.0,37.0,2617.0,104.0,183.0
74,Chevrolet,Impala 4dr,Sedan,USA,Front,"$21,900","$20,095",3.4,6.0,180.0,21.0,32.0,3465.0,111.0,200.0
75,Chevrolet,Malibu 4dr,Sedan,USA,Front,"$18,995","$17,434",2.2,4.0,145.0,24.0,34.0,3174.0,106.0,188.0
76,Chevrolet,Malibu LS 4dr,Sedan,USA,Front,"$20,370","$18,639",3.5,6.0,200.0,22.0,30.0,3297.0,106.0,188.0
77,Chevrolet,Monte Carlo LS 2dr,Sedan,USA,Front,"$21,825","$20,026",3.4,6.0,180.0,21.0,32.0,3340.0,111.0,198.0
78,Chevrolet,Impala LS 4dr,Sedan,USA,Front,"$25,000","$22,931",3.8,6.0,200.0,20.0,30.0,3476.0,111.0,200.0
79,Chevrolet,Impala SS 4dr,Sedan,USA,Front,"$27,995","$25,672",3.8,6.0,240.0,18.0,28.0,3606.0,111.0,200.0
80,Chevrolet,Malibu LT 4dr,Sedan,USA,Front,"$23,495","$21,551",3.5,6.0,200.0,23.0,32.0,3315.0,106.0,188.0
81,Chevrolet,Monte Carlo SS 2dr,Sedan,USA,Front,"$24,225","$22,222",3.8,6.0,200.0,18.0,28.0,3434.0,111.0,198.0
82,Chevrolet,Astro,Sedan,USA,All,"$26,395","$23,954",4.3,6.0,190.0,14.0,17.0,4605.0,111.0,190.0
83,Chevrolet,Venture LS,Sedan,USA,Front,"$27,020","$24,518",3.4,6.0,185.0,19.0,26.0,3699.0,112.0,187.0
84,Chevrolet,Corvette 2dr,Sports,USA,Rear,"$44,535","$39,068",5.7,8.0,350.0,18.0,25.0,3246.0,105.0,180.0
85,Chevrolet,Corvette convertible 2dr,Sports,USA,Rear,"$51,535","$45,193",5.7,8.0,350.0,18.0,25.0,3248.0,105.0,180.0
86,Chevrolet,Avalanche 1500,Truck,USA,All,"$36,100","$31,689",5.3,8.0,295.0,14.0,18.0,5678.0,130.0,222.0
87,Chevrolet,Colorado Z85,Truck,USA,All,"$18,760","$17,070",2.8,4.0,175.0,18.0,23.0,3623.0,111.0,192.0
88,Chevrolet,Silverado 1500 Regular Cab,Truck,USA,Rear,"$20,310","$18,480",4.3,6.0,200.0,15.0,21.0,4142.0,119.0,206.0
89,Chevrolet,Silverado SS,Truck,USA,All,"$40,340","$35,399",6.0,8.0,300.0,13.0,17.0,4804.0,144.0,238.0
90,Chevrolet,SSR,Truck,USA,Rear,"$41,995","$39,306",5.3,8.0,300.0,16.0,19.0,4760.0,116.0,191.0
91,Chevrolet,Malibu Maxx LS,Wagon,USA,Front,"$22,225","$20,394",3.5,6.0,200.0,22.0,30.0,3458.0,112.0,188.0
92,Chrysler,PT Cruiser 4dr,Sedan,USA,Front,"$17,985","$16,919",2.4,4.0,150.0,22.0,29.0,3101.0,103.0,169.0
93,Chrysler,PT Cruiser Limited 4dr,Sedan,USA,Front,"$22,000","$20,573",2.4,4.0,150.0,22.0,29.0,3105.0,103.0,169.0
94,Chrysler,Sebring 4dr,Sedan,USA,Front,"$19,090","$17,805",2.4,4.0,150.0,22.0,30.0,3173.0,108.0,191.0
95,Chrysler,Sebring Touring 4dr,Sedan,USA,Front,"$21,840","$20,284",2.7,6.0,200.0,21.0,28.0,3222.0,108.0,191.0
96,Chrysler,300M 4dr,Sedan,USA,Front,"$29,865","$27,797",3.5,6.0,250.0,18.0,27.0,3581.0,113.0,198.0
97,Chrysler,Concorde LX 4dr,Sedan,USA,Front,"$24,130","$22,452",2.7,6.0,200.0,21.0,29.0,3479.0,113.0,208.0
98,Chrysler,Concorde LXi 4dr,Sedan,USA,Front,"$26,860","$24,909",3.5,6.0,232.0,19.0,27.0,3548.0,113.0,208.0
99,Chrysler,PT Cruiser GT 4dr,Sedan,USA,Front,"$25,955","$24,172",2.4,4.0,220.0,21.0,27.0,3217.0,103.0,169.0
100,Chrysler,Sebring convertible 2dr,Sedan,USA,Front,"$25,215","$23,451",2.4,4.0,150.0,22.0,30.0,3357.0,106.0,194.0
101,Chrysler,300M Special Edition 4dr,Sedan,USA,Front,"$33,295","$30,884",3.5,6.0,255.0,18.0,27.0,3650.0,113.0,198.0
102,Chrysler,Sebring Limited convertible 2dr,Sedan,USA,Front,"$30,950","$28,613",2.7,6.0,200.0,21.0,28.0,3448.0,106.0,194.0
103,Chrysler,Town and Country LX,Sedan,USA,Front,"$27,490","$25,371",3.3,6.0,180.0,19.0,26.0,4068.0,119.0,201.0
104,Chrysler,Town and Country Limited,Sedan,USA,Front,"$38,380","$35,063",3.8,6.0,215.0,18.0,25.0,4331.0,119.0,201.0
105,Chrysler,Crossfire 2dr,Sports,USA,Rear,"$34,495","$32,033",3.2,6.0,215.0,17.0,25.0,3060.0,95.0,160.0
106,Chrysler,Pacifica,Wagon,USA,Rear,"$31,230","$28,725",3.5,6.0,250.0,17.0,23.0,4675.0,116.0,199.0
107,Dodge,Durango SLT,SUV,USA,All,"$32,235","$29,472",4.7,8.0,230.0,15.0,21.0,4987.0,119.0,201.0
108,Dodge,Neon SE 4dr,Sedan,USA,Front,"$13,670","$12,849",2.0,4.0,132.0,29.0,36.0,2581.0,105.0,174.0
109,Dodge,Neon SXT 4dr,Sedan,USA,Front,"$15,040","$14,086",2.0,4.0,132.0,29.0,36.0,2626.0,105.0,174.0
110,Dodge,Intrepid SE 4dr,Sedan,USA,Front,"$22,035","$20,502",2.7,6.0,200.0,21.0,29.0,3469.0,113.0,204.0
111,Dodge,Stratus SXT 4dr,Sedan,USA,Front,"$18,820","$17,512",2.4,4.0,150.0,21.0,28.0,3182.0,108.0,191.0
112,Dodge,Stratus SE 4dr,Sedan,USA,Front,"$20,220","$18,821",2.4,4.0,150.0,21.0,28.0,3175.0,108.0,191.0
113,Dodge,Intrepid ES 4dr,Sedan,USA,Front,"$24,885","$23,058",3.5,6.0,232.0,18.0,27.0,3487.0,113.0,204.0
114,Dodge,Caravan SE,Sedan,USA,Front,"$21,795","$20,508",2.4,4.0,150.0,20.0,26.0,3862.0,113.0,189.0
115,Dodge,Grand Caravan SXT,Sedan,USA,All,"$32,660","$29,812",3.8,6.0,215.0,18.0,25.0,4440.0,119.0,201.0
116,Dodge,Viper SRT-10 convertible 2dr,Sports,USA,Rear,"$81,795","$74,451",8.3,10.0,500.0,12.0,20.0,3410.0,99.0,176.0
117,Dodge,Dakota Regular Cab,Truck,USA,Rear,"$17,630","$16,264",3.7,6.0,210.0,16.0,22.0,3714.0,112.0,193.0
118,Dodge,Dakota Club Cab,Truck,USA,Rear,"$20,300","$18,670",3.7,6.0,210.0,16.0,22.0,3829.0,131.0,219.0
119,Dodge,Ram 1500 Regular Cab ST,Truck,USA,Rear,"$20,215","$18,076",3.7,6.0,215.0,16.0,21.0,4542.0,121.0,208.0
120,Ford,Excursion 6.8 XLT,SUV,USA,All,"$41,475","$36,494",6.8,10.0,310.0,10.0,13.0,7190.0,137.0,227.0
121,Ford,Expedition 4.6 XLT,SUV,USA,Front,"$34,560","$30,468",4.6,8.0,232.0,15.0,19.0,5000.0,119.0,206.0
122,Ford,Explorer XLT V6,SUV,USA,All,"$29,670","$26,983",4.0,6.0,210.0,15.0,20.0,4463.0,114.0,190.0
123,Ford,Escape XLS,SUV,USA,All,"$22,515","$20,907",3.0,6.0,201.0,18.0,23.0,3346.0,103.0,173.0
124,Ford,Focus ZX3 2dr hatch,Sedan,USA,Front,"$13,270","$12,482",2.0,4.0,130.0,26.0,33.0,2612.0,103.0,168.0
125,Ford,Focus LX 4dr,Sedan,USA,Front,"$13,730","$12,906",2.0,4.0,110.0,27.0,36.0,2606.0,103.0,168.0
126,Ford,Focus SE 4dr,Sedan,USA,Front,"$15,460","$14,496",2.0,4.0,130.0,26.0,33.0,2606.0,103.0,168.0
127,Ford,Focus ZX5 5dr,Sedan,USA,Front,"$15,580","$14,607",2.0,4.0,130.0,26.0,33.0,2691.0,103.0,168.0
128,Ford,Focus SVT 2dr,Sedan,USA,Front,"$19,135","$17,878",2.0,4.0,170.0,21.0,28.0,2750.0,103.0,168.0
129,Ford,Taurus LX 4dr,Sedan,USA,Front,"$20,320","$18,881",3.0,6.0,155.0,20.0,27.0,3306.0,109.0,198.0
130,Ford,Taurus SES Duratec 4dr,Sedan,USA,Front,"$22,735","$20,857",3.0,6.0,201.0,19.0,26.0,3313.0,109.0,198.0
131,Ford,Crown Victoria 4dr,Sedan,USA,Rear,"$24,345","$22,856",4.6,8.0,224.0,17.0,25.0,4057.0,115.0,212.0
132,Ford,Crown Victoria LX 4dr,Sedan,USA,Rear,"$27,370","$25,105",4.6,8.0,224.0,17.0,25.0,4057.0,115.0,212.0
133,Ford,Crown Victoria LX Sport 4dr,Sedan,USA,Rear,"$30,315","$27,756",4.6,8.0,239.0,17.0,25.0,4057.0,115.0,212.0
134,Ford,Freestar SE,Sedan,USA,Front,"$26,930","$24,498",3.9,6.0,193.0,17.0,23.0,4275.0,121.0,201.0
135,Ford,Mustang 2dr (convertible),Sports,USA,Rear,"$18,345","$16,943",3.8,6.0,193.0,20.0,29.0,3290.0,101.0,183.0
136,Ford,Mustang GT Premium convertible 2dr,Sports,USA,Rear,"$29,380","$26,875",4.6,8.0,260.0,17.0,25.0,3347.0,101.0,183.0
137,Ford,Thunderbird Deluxe convert w/hardtop 2d,Sports,USA,Front,"$37,530","$34,483",3.9,8.0,280.0,17.0,24.0,3780.0,107.0,186.0
138,Ford,F-150 Regular Cab XL,Truck,USA,Rear,"$22,010","$19,490",4.6,8.0,231.0,15.0,19.0,4788.0,126.0,211.0
139,Ford,F-150 Supercab Lariat,Truck,USA,All,"$33,540","$29,405",5.4,8.0,300.0,14.0,18.0,5464.0,133.0,218.0
140,Ford,Ranger 2.3 XL Regular Cab,Truck,USA,Rear,"$14,385","$13,717",2.3,4.0,143.0,24.0,29.0,3028.0,111.0,188.0
141,Ford,Focus ZTW,Wagon,USA,Front,"$17,475","$16,375",2.0,4.0,130.0,26.0,33.0,2702.0,103.0,178.0
142,Ford,Taurus SE,Wagon,USA,Front,"$22,290","$20,457",3.0,6.0,155.0,19.0,26.0,3497.0,109.0,198.0
143,GMC,Envoy XUV SLE,SUV,USA,Front,"$31,890","$28,922",4.2,6.0,275.0,15.0,19.0,4945.0,129.0,208.0
144,GMC,Yukon 1500 SLE,SUV,USA,Front,"$35,725","$31,361",4.8,8.0,285.0,16.0,19.0,5042.0,116.0,199.0
145,GMC,Yukon XL 2500 SLT,SUV,USA,All,"$46,265","$40,534",6.0,8.0,325.0,13.0,17.0,6133.0,130.0,219.0
146,GMC,Safari SLE,Sedan,USA,Rear,"$25,640","$23,215",4.3,6.0,190.0,16.0,20.0,4309.0,111.0,190.0
147,GMC,Canyon Z85 SL Regular Cab,Truck,USA,Rear,"$16,530","$14,877",2.8,4.0,175.0,18.0,25.0,3351.0,111.0,192.0
148,GMC,Sierra Extended Cab 1500,Truck,USA,Rear,"$25,717","$22,604",4.8,8.0,285.0,17.0,20.0,4548.0,144.0,230.0
149,GMC,Sierra HD 2500,Truck,USA,All,"$29,322","$25,759",6.0,8.0,300.0,13.0,18.0,5440.0,133.0,222.0
150,GMC,Sonoma Crew Cab,Truck,USA,All,"$25,395","$23,043",4.3,6.0,190.0,15.0,19.0,4083.0,123.0,208.0
151,Honda,Civic Hybrid 4dr manual (gas/electric),Hybrid,Asia,Front,"$20,140","$18,451",1.4,4.0,93.0,46.0,51.0,2732.0,103.0,175.0
152,Honda,Insight 2dr (gas/electric),Hybrid,Asia,Front,"$19,110","$17,911",2.0,3.0,73.0,60.0,66.0,1850.0,95.0,155.0
153,Honda,Pilot LX,SUV,Asia,All,"$27,560","$24,843",3.5,6.0,240.0,17.0,22.0,4387.0,106.0,188.0
154,Honda,CR-V LX,SUV,Asia,All,"$19,860","$18,419",2.4,4.0,160.0,21.0,25.0,3258.0,103.0,179.0
155,Honda,Element LX,SUV,Asia,All,"$18,690","$17,334",2.4,4.0,160.0,21.0,24.0,3468.0,101.0,167.0
156,Honda,Civic DX 2dr,Sedan,Asia,Front,"$13,270","$12,175",1.7,4.0,115.0,32.0,38.0,2432.0,103.0,175.0
157,Honda,Civic HX 2dr,Sedan,Asia,Front,"$14,170","$12,996",1.7,4.0,117.0,36.0,44.0,2500.0,103.0,175.0
158,Honda,Civic LX 4dr,Sedan,Asia,Front,"$15,850","$14,531",1.7,4.0,115.0,32.0,38.0,2513.0,103.0,175.0
159,Honda,Accord LX 2dr,Sedan,Asia,Front,"$19,860","$17,924",2.4,4.0,160.0,26.0,34.0,2994.0,105.0,188.0
160,Honda,Accord EX 2dr,Sedan,Asia,Front,"$22,260","$20,080",2.4,4.0,160.0,26.0,34.0,3047.0,105.0,188.0
161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162,Honda,Civic EX 4dr,Sedan,Asia,Front,"$17,750","$16,265",1.7,4.0,127.0,32.0,37.0,2601.0,103.0,175.0
163,Honda,Civic Si 2dr hatch,Sedan,Asia,Front,"$19,490","$17,849",2.0,4.0,160.0,26.0,30.0,2782.0,101.0,166.0
164,Honda,Accord LX V6 4dr,Sedan,Asia,Front,"$23,760","$21,428",3.0,6.0,240.0,21.0,30.0,3349.0,108.0,190.0
165,Honda,Accord EX V6 2dr,Sedan,Asia,Front,"$26,960","$24,304",3.0,6.0,240.0,21.0,30.0,3294.0,105.0,188.0
166,Honda,Odyssey LX,Sedan,Asia,Front,"$24,950","$22,498",3.5,6.0,240.0,18.0,25.0,4310.0,118.0,201.0
167,Honda,Odyssey EX,Sedan,Asia,Front,"$27,450","$24,744",3.5,6.0,240.0,18.0,25.0,4365.0,118.0,201.0
168,Honda,S2000 convertible 2dr,Sports,Asia,Rear,"$33,260","$29,965",2.2,4.0,240.0,20.0,25.0,2835.0,95.0,162.0
169,Hummer,H2,SUV,USA,All,"$49,995","$45,815",6.0,8.0,316.0,10.0,12.0,6400.0,123.0,190.0
170,Hyundai,Santa Fe GLS,SUV,Asia,Front,"$21,589","$20,201",2.7,6.0,173.0,20.0,26.0,3549.0,103.0,177.0
171,Hyundai,Accent 2dr hatch,Sedan,Asia,Front,"$10,539","$10,107",1.6,4.0,103.0,29.0,33.0,2255.0,96.0,167.0
172,Hyundai,Accent GL 4dr,Sedan,Asia,Front,"$11,839","$11,116",1.6,4.0,103.0,29.0,33.0,2290.0,96.0,167.0
173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174,Hyundai,Accent GT 2dr hatch,Sedan,Asia,Front,"$11,939","$11,209",1.6,4.0,103.0,29.0,33.0,2339.0,96.0,167.0
175,Hyundai,Elantra GLS 4dr,Sedan,Asia,Front,"$13,839","$12,781",2.0,4.0,138.0,26.0,34.0,2635.0,103.0,178.0
176,Hyundai,Elantra GT 4dr,Sedan,Asia,Front,"$15,389","$14,207",2.0,4.0,138.0,26.0,34.0,2635.0,103.0,178.0
177,Hyundai,Elantra GT 4dr hatch,Sedan,Asia,Front,"$15,389","$14,207",2.0,4.0,138.0,26.0,34.0,2698.0,103.0,178.0
178,Hyundai,Sonata GLS 4dr,Sedan,Asia,Front,"$19,339","$17,574",2.7,6.0,170.0,19.0,27.0,3217.0,106.0,187.0
179,Hyundai,Sonata LX 4dr,Sedan,Asia,Front,"$20,339","$18,380",2.7,6.0,170.0,19.0,27.0,3217.0,106.0,187.0
180,Hyundai,XG350 4dr,Sedan,Asia,Front,"$24,589","$22,055",3.5,6.0,194.0,17.0,26.0,3651.0,108.0,192.0
181,Hyundai,XG350 L 4dr,Sedan,Asia,Front,"$26,189","$23,486",3.5,6.0,194.0,17.0,26.0,3651.0,108.0,192.0
182,Hyundai,Tiburon GT V6 2dr,Sports,Asia,Front,"$18,739","$17,101",2.7,6.0,172.0,19.0,26.0,3023.0,100.0,173.0
183,Infiniti,G35 4dr,Sedan,Asia,Rear,"$28,495","$26,157",3.5,6.0,260.0,18.0,26.0,3336.0,112.0,187.0
184,Infiniti,G35 Sport Coupe 2dr,Sedan,Asia,Rear,"$29,795","$27,536",3.5,6.0,280.0,18.0,26.0,3416.0,112.0,182.0
185,Infiniti,G35 4dr,Sedan,Asia,All,"$32,445","$29,783",3.5,6.0,260.0,18.0,26.0,3677.0,112.0,187.0
186,Infiniti,I35 4dr,Sedan,Asia,Front,"$31,145","$28,320",3.5,6.0,255.0,19.0,26.0,3306.0,108.0,194.0
187,Infiniti,M45 4dr,Sedan,Asia,Rear,"$42,845","$38,792",4.5,8.0,340.0,17.0,23.0,3851.0,110.0,197.0
188,Infiniti,Q45 Luxury 4dr,Sedan,Asia,Rear,"$52,545","$47,575",4.5,8.0,340.0,17.0,23.0,3977.0,113.0,200.0
189,Infiniti,FX35,Wagon,Asia,Rear,"$34,895","$31,756",3.5,6.0,280.0,16.0,22.0,4056.0,112.0,189.0

**2.Shape is a attribute which tells us the number of rows and column**

In [43]:
df.shape

(432, 15)

**3.Info() is a panda function which tells us the no of rows and column and will gives us the data type of each column**

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432 entries, 0 to 431
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Make         428 non-null    object
 1   Model        428 non-null    object
 2   Type         428 non-null    object
 3   Origin       428 non-null    object
 4   DriveTrain   428 non-null    object
 5   MSRP         428 non-null    object
 6   Invoice      428 non-null    object
 7   EngineSize   428 non-null    float64
 8   Cylinders    426 non-null    float64
 9   Horsepower   428 non-null    float64
 10  MPG_City     428 non-null    float64
 11  MPG_Highway  428 non-null    float64
 12  Weight       428 non-null    float64
 13  Wheelbase    428 non-null    float64
 14  Length       428 non-null    float64
dtypes: float64(8), object(7)
memory usage: 50.8+ KB

**4.Head() is a panda function will gives us the top 5 rows of the dataset/dataframe by default head(n)**

In [45]:
df.head(5)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0

**5.tail() is a panda function will gives us the bottom 5 rows of the dataset tail(n)**

In [46]:
df.tail(5)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0
431,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0

**5.set_options:Pandas have an options system that lets you customize some aspects of its behavior, display-related options being those the user is most likely to adjust. Let us see how to set the value of a specified option.**

In [47]:
pd.set_option('display.max_columns',15)

In [48]:
pd.set_option('display.max_rows',443)

**7.What is DataFrame explain with example?A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns.**

In [49]:
# Define a dictionary containing employee data
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
df

     Name  Age    Address Qualification
0     Jai   27      Delhi           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannauj           Phd

In [50]:
# select two columns
print(df[['Name', 'Qualification']])

     Name Qualification
0     Jai           Msc
1  Princi            MA
2  Gaurav           MCA
3    Anuj           Phd

In [51]:
# select two columns
df['Qualification']

0    Msc
1     MA
2    MCA
3    Phd
Name: Qualification, dtype: object


**8.Pandas Series is a one-dimensional labeled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called index. Pandas Series is nothing but a column in an excel sheet.series being as rows and a single column

In [52]:
# import pandas as pd
import pandas as pd
 
# import numpy as np
import numpy as np
 
# simple array
data = np.array(['g','e','e','k','s'])
 
ser = pd.Series(data)
print(ser)

0    g
1    e
2    e
3    k
4    s
dtype: object

In [53]:
# import pandas and numpy 
import pandas as pd
import numpy as np
 
# creating simple array
data = np.array(['g','e','e','k','s','f', 'o','r','g','e','e','k','s'])
ser = pd.Series(data,index=[10,11,12,13,14,15,16,17,18,19,20,21,22])

ser

10    g
11    e
12    e
13    k
14    s
15    f
16    o
17    r
18    g
19    e
20    e
21    k
22    s
dtype: object

**9.value_counts:value_counts() function returns object containing counts of unique values. The resulting object will be in descending order so that the first element is the most frequently-occurring element. Excludes NA values by default.**

In [56]:
df2=df['Type'].value_counts()
df2

Sedan     262
SUV        60
Sports     49
Wagon      30
Truck      24
Hybrid      3
Name: Type, dtype: int64

**loc vs iloc:Pandas library of python is very useful for the manipulation of mathematical data and is widely used in the field of machine learning. It comprises of many methods for its proper functioning. loc() and iloc() are one of those methods. These are used in slicing of data from the Pandas DataFrame. They help in the convenient selection of data from the DataFrame. They are used in filtering the data according to some conditions. Working of both of these methods is explained in the sample dataset of cars.**

In [57]:
# importing the module
import pandas as pd
   
# creating a sample dataframe
data = pd.DataFrame({'Brand' : ['Maruti', 'Hyundai', 'Tata',
                                'Mahindra', 'Maruti', 'Hyundai',
                                'Renault', 'Tata', 'Maruti'],
                     'Year' : [2012, 2014, 2011, 2015, 2012, 
                               2016, 2014, 2018, 2019],
                     'Kms Driven' : [50000, 30000, 60000, 
                                     25000, 10000, 46000, 
                                     31000, 15000, 12000],
                     'City' : ['Gurgaon', 'Delhi', 'Mumbai', 
                               'Delhi', 'Mumbai', 'Delhi', 
                               'Mumbai','Chennai',  'Ghaziabad'],
                     'Mileage' :  [28, 27, 25, 26, 28, 
                                   29, 24, 21, 24]})
   
# displaying the DataFrame
display(data)

      Brand  Year  Kms Driven       City  Mileage
0    Maruti  2012       50000    Gurgaon       28
1   Hyundai  2014       30000      Delhi       27
2      Tata  2011       60000     Mumbai       25
3  Mahindra  2015       25000      Delhi       26
4    Maruti  2012       10000     Mumbai       28
5   Hyundai  2016       46000      Delhi       29
6   Renault  2014       31000     Mumbai       24
7      Tata  2018       15000    Chennai       21
8    Maruti  2019       12000  Ghaziabad       24

**loc() : loc() is label based data selecting method which means that we have to pass the name of the row or column which we want to select. This method includes the last element of the range passed in it, unlike iloc(). loc() can accept the boolean data unlike iloc() . Many operations can be performed using the loc() method like-**

In [58]:
#1. Selecting data according to some conditions :

# selecting cars with brand 'Maruti' and Mileage > 25
display(data.loc[(data.Brand == 'Maruti') & (data.Mileage > 25)])

    Brand  Year  Kms Driven     City  Mileage
0  Maruti  2012       50000  Gurgaon       28
4  Maruti  2012       10000   Mumbai       28

In [59]:
#2. Selecting a range of rows from the DataFrame :

# selecting range of rows from 2 to 5
display(data.loc[2 : 5])

      Brand  Year  Kms Driven    City  Mileage
2      Tata  2011       60000  Mumbai       25
3  Mahindra  2015       25000   Delhi       26
4    Maruti  2012       10000  Mumbai       28
5   Hyundai  2016       46000   Delhi       29

In [60]:
#3. Updating the value of any column :

# updating values of Mileage if Year < 2015
data.loc[(data.Year < 2015), ['Mileage']] = 22
display(data)

      Brand  Year  Kms Driven       City  Mileage
0    Maruti  2012       50000    Gurgaon       22
1   Hyundai  2014       30000      Delhi       22
2      Tata  2011       60000     Mumbai       22
3  Mahindra  2015       25000      Delhi       26
4    Maruti  2012       10000     Mumbai       22
5   Hyundai  2016       46000      Delhi       29
6   Renault  2014       31000     Mumbai       22
7      Tata  2018       15000    Chennai       21
8    Maruti  2019       12000  Ghaziabad       24

In [61]:
data.loc[[2,3,4],['Brand','City']]

      Brand    City
2      Tata  Mumbai
3  Mahindra   Delhi
4    Maruti  Mumbai

In [62]:
data.loc[2:5,'Brand':'City']

      Brand  Year  Kms Driven    City
2      Tata  2011       60000  Mumbai
3  Mahindra  2015       25000   Delhi
4    Maruti  2012       10000  Mumbai
5   Hyundai  2016       46000   Delhi

**iloc() : iloc() is a indexed based selecting method which means that we have to pass integer index in the method to select specific row/column. This method does not include the last element of the range passed in it unlike loc(). iloc() does not accept the boolean data unlike loc(). Operations performed using iloc() are:**

In [63]:
#1. Selecting rows using integer indices:

# selecting 0th, 2th, 4th, and 7th index rows
display(data.iloc[[0, 2, 4, 7]])

    Brand  Year  Kms Driven     City  Mileage
0  Maruti  2012       50000  Gurgaon       22
2    Tata  2011       60000   Mumbai       22
4  Maruti  2012       10000   Mumbai       22
7    Tata  2018       15000  Chennai       21

In [64]:
#2. Selecting a range of columns and rows simultaneously:

# selecting rows from 1 to 4 and columns from 2 to 4
display(data.iloc[1 : 5, 2 : 5])

   Kms Driven    City  Mileage
1       30000   Delhi       22
2       60000  Mumbai       22
3       25000   Delhi       26
4       10000  Mumbai       22

In [65]:
# import pandas
import pandas as pd
  
# List of Tuples
employees = [('Stuti', 28, 'Varanasi', 20000),
            ('Saumya', 32, 'Delhi', 25000),
            ('Aaditya', 25, 'Mumbai', 40000),
            ('Saumya', 32, 'Delhi', 35000),
            ('Saumya', 32, 'Delhi', 30000),
            ('Saumya', 32, 'Mumbai', 20000),
            ('Aaditya', 40, 'Dehradun', 24000),
            ('Seema', 32, 'Delhi', 70000)
            ]
  
# Create a DataFrame object from list 
df = pd.DataFrame(employees,
                 columns =['Name', 'Age',
                  'City', 'Salary'])
  
# Set 'Name' column as index 
# on a Dataframe
df.set_index("Name", inplace = True)
df

         Age      City  Salary
Name
Stuti     28  Varanasi   20000
Saumya    32     Delhi   25000
Aaditya   25    Mumbai   40000
Saumya    32     Delhi   35000
Saumya    32     Delhi   30000
Saumya    32    Mumbai   20000
Aaditya   40  Dehradun   24000
Seema     32     Delhi   70000

In [66]:
# Using the operator .loc[]
# to select single row
result = df.loc["Stuti"]
  
# Show the dataframe
result

Age             28
City      Varanasi
Salary       20000
Name: Stuti, dtype: object

In [67]:
# Using the operator .loc[] to 
# select multiple rows with some
# particular columns
result = df.loc[["Stuti", "Seema"],
               ["City", "Salary"]]
  
# Show the dataframe
result

           City  Salary
Name
Stuti  Varanasi   20000
Seema     Delhi   70000

In [68]:
  
# Using the operator .loc[] to
# select all the rows with 
# some particular columns
result = df.loc[:, ["City", "Salary"]]
  
# Show the dataframe
result

             City  Salary
Name
Stuti    Varanasi   20000
Saumya      Delhi   25000
Aaditya    Mumbai   40000
Saumya      Delhi   35000
Saumya      Delhi   30000
Saumya     Mumbai   20000
Aaditya  Dehradun   24000
Seema       Delhi   70000

**In boolean indexing, we will select subsets of data based on the actual values of the data in the DataFrame and not on their row/column labels or integer locations. In boolean indexing, we use a boolean vector to filter the data.**

In [69]:
#Accessing a DataFrame with a boolean index: 
# importing pandas as pd
import pandas as pd

# dictionary of lists
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
		'degree': ["MBA", "BCA", "M.Tech", "MBA"],
		'score':[90, 40, 80, 98]}

df = pd.DataFrame(dict, index = [True, False, True, False])

print(df)

         name  degree  score
True   aparna     MBA     90
False  pankaj     BCA     40
True   sudhir  M.Tech     80
False   Geeku     MBA     98

In [70]:
#Accessing a Dataframe with a boolean index using .loc[]
#In order to access a dataframe with a boolean index using .loc[], we simply pass a boolean value (True or False) in a .loc[] function.


# accessing a dataframe using .loc[] function
print(df.loc[True])

        name  degree  score
True  aparna     MBA     90
True  sudhir  M.Tech     80

**Accessing a Dataframe with a boolean index using .iloc[]
In order to access a dataframe using .iloc[], we have to pass a boolean value (True or False)  but iloc[] function accepts only integer as an argument so it will throw an error so we can only access a dataframe when we pass an integer in iloc[] function**

In [71]:
# accessing a dataframe using .iloc[] function
print(df.iloc[True])

TypeError: ignored

In [72]:
# accessing a dataframe using .iloc[] function
print(df.iloc[1])

name      pankaj
degree       BCA
score         40
dtype: object

**11.Index :Set_Index,Reset_Index,Use_Index**

In [93]:
# Define a dictionary containing employee data
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
        'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame 
df = pd.DataFrame(data)
df

     Name  Age    Address Qualification
0     Jai   27      Delhi           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannauj           Phd

In [86]:
#Set_index
df.set_index('Address',inplace=True)

In [87]:
df

             Name  Age Qualification
Address
Delhi         Jai   27           Msc
Kanpur     Princi   24            MA
Allahabad  Gaurav   22           MCA
Kannauj      Anuj   32           Phd

In [88]:
#Reset_index
df.reset_index(inplace=True)

In [89]:
df

     Address    Name  Age Qualification
0      Delhi     Jai   27           Msc
1     Kanpur  Princi   24            MA
2  Allahabad  Gaurav   22           MCA
3    Kannauj    Anuj   32           Phd

In [94]:
#Set_index
df.set_index('Address',inplace=True)

In [95]:
df

             Name  Age Qualification
Address
Delhi         Jai   27           Msc
Kanpur     Princi   24            MA
Allahabad  Gaurav   22           MCA
Kannauj      Anuj   32           Phd

In [96]:
#sort_index
df.sort_index(inplace=True)

In [97]:
df

             Name  Age Qualification
Address
Allahabad  Gaurav   22           MCA
Delhi         Jai   27           Msc
Kannauj      Anuj   32           Phd
Kanpur     Princi   24            MA