<a href="https://colab.research.google.com/github/SurajGusain0007/Panda_Library/blob/main/Selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [48]:
import pandas as pd
df=pd.read_csv("User.csv")
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [49]:
#Dealing with columns
#Column selection
df[['Age','User ID']].head(2)

   Age   User ID
0   19  15624510
1   35  15810944

In [50]:
#Column addition
data={'Name':['suraj','Neeraj','Vipin'],
      'Roll_no':[1,2,3]}
df1=pd.DataFrame(data,index=['Rank1','Rank2','Rank3'])
df1
address=['PNP','Delhi','Uttrakhand']
df1['Address']=address #column addition
df1

         Name  Roll_no     Address
Rank1   suraj        1         PNP
Rank2  Neeraj        2       Delhi
Rank3   Vipin        3  Uttrakhand

In [51]:
#Deletion Column
df1.drop(['Name','Roll_no'],axis=1)
df1

         Name  Roll_no     Address
Rank1   suraj        1         PNP
Rank2  Neeraj        2       Delhi
Rank3   Vipin        3  Uttrakhand

#Dealing with rows

**Pandas provide a unique method to retrieve rows from a dataframe using .loc()**

In [52]:
#Using loc metod
df.loc[0:3,['Age','Gender']]

   Age  Gender
0   19    Male
1   35    Male
2   26  Female
3   27  Female

In [53]:
df.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [54]:
#using range method
df.loc[0:3,'Age':'Purchased']

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0

In [55]:
#using boolean method
df.loc[df.Age>19,['Age','Gender']].head(3)

   Age  Gender
1   35    Male
2   26  Female
3   27  Female

In [56]:
#Boolean indexing we will select subsets of data based on the actual values of the data in the dataframe
#and not on their rows/columns or integer locatio.In boolean indexing we use a boolean vector to filter the data
df[df['Age']>19][['Age','Gender']].head(3)

   Age  Gender
1   35    Male
2   26  Female
3   27  Female

In [72]:
df[df['Age']==19].head()

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
4    15804002    Male   19            76000          0
104  15672091  Female   19            21000          0
139  15741094    Male   19            25000          0
140  15807909    Male   19            85000          0

In [74]:
df[df.index==0]

    User ID Gender  Age  EstimatedSalary  Purchased
0  15624510   Male   19            19000          0

In [57]:
#Row addition
data={'Name':['suraj','Neeraj','Vipin'],
      'Roll_no':[1,2,3]}
df1=pd.DataFrame(data,index=['Rank1','Rank2','Rank3'])
df1
address=['PNP','Delhi','Uttrakhand']
df1['Address']=address #column addition
df1

new_row=pd.DataFrame({'Name':'Amit','Roll_no':4,'Address':'Chandigarh'},index=[4])
df2=pd.concat([new_row,df1]).reset_index(drop=True)
df2

     Name  Roll_no     Address
0    Amit        4  Chandigarh
1   suraj        1         PNP
2  Neeraj        2       Delhi
3   Vipin        3  Uttrakhand

In [58]:
df.loc[[1,3],['Age','Gender']]

   Age  Gender
1   35    Male
3   27  Female

**iloc method works on integers**

In [60]:
df.iloc[1:3,1:3]

   Gender  Age
1    Male   35
2  Female   26

In [61]:
#retrieving 3 rows and 2 columns
df.iloc[[1,2,3],[1,3]] #selecting multiple row

   Gender  EstimatedSalary
1    Male            20000
2  Female            43000
3  Female            57000

In [66]:
#seelcting all rows and some columns
df.iloc[:,1:3].head(2)

  Gender  Age
0   Male   19
1   Male   35

In [62]:
df.iloc[3] #Selecting a single row

User ID            15603246
Gender               Female
Age                      27
EstimatedSalary       57000
Purchased                 0
Name: 3, dtype: object